<div class="header">
    <p class="page_title">Where Am I Eating Tonight?</p>
</div>
<br>
<br>
<br>
<%= button_to "Select Preferences", { :controller => "preferences", :action => "index" }, :method => :get, :class => 'preferences_button' %>