<!DOCTYPE>
<style>
a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}
</style>
<div class="header">
    <a href="/"><p class="page_title">WAIET</p></a>
</div>
<br>
<br>
<br>
<%= button_to "Select Preferences", { :controller => "preferences", :action => "index" }, :method => :get, :class => 'preferences_button' %>