<!DOCTYPE html>
<style>
body {
    background: url('https://i.ibb.co/ygrYtZr/bgimage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    text-align: center;
    font-size: 100px;
    font-family: 'Concert One', cursive;
    color: black;
    letter-spacing: 10px;
    line-height: 250px;
    margin-bottom: 0;
}
h2 {
    text-align: center;
    font-size: 50px;
    font-family: 'Concert One', cursive;
    color: black;
}
.preferences_button {
    background: white;
}
</style>
<html>
<head>
    <h1>WAIET</h1>
    <hr>
    <h2>Where am I eating today?</h2>
</head>
<body>
    <%= button_to "Begin", { :controller => "preferences", :action => "index" }, :method => :get, :class => 'preferences_button' %>
    
</body>
</html>