<%= "Select Preferences" %>

<form action="/results">
  <p>Please select what type of food you are in the mood for:</p>
  <p>
    <input name="Breakfast" type="CheckBox" value="Breakfast"> Breakfast
    <br/>
    <input name="Lunch" type="CheckBox" value="Lunch"> Lunch
    <br/>
    <input name="Dinner" type="CheckBox" value="Dinner"> Dinner
  </p>
  <p>
    <input type="submit" value="Submit">
  </p>
</form>