<%= "Select Preferences" %>

<%= form_tag results_path do %>
  <p>Please select what type of food you are in the mood for:</p>
  <p>
    <input name="Breakfast", id="Breakfast", type="CheckBox" value="Breakfast"> Breakfast
    <br/>
    <input name="Lunch", id="Lunch", type="CheckBox" value="Lunch"> Lunch
    <br/>
    <input name="Dinner", id="Dinner", type="CheckBox" value="Dinner"> Dinner
  </p>
<%= submit_tag "Submit" %>
<% end %>