<%= "Select Preferences" %>
<button class="button0 button0" name="WAIET">WAIET</button>
<button class="button button1">Breakfast</button>
<button class="button button2">Lunch</button>
<button class="button button3">Dinner</button>
<button class="button button4">Submit</button>
