<%= "Select Preferences" %>

<%= form_tag results_path do %>
  <label for="restCategory">Select a category of food (You may control-click (Windows) or command-click (Mac) to select more than one): </label>
    <select class="form-control"
            id="restCategory"
            name="restCategory"
            multiple
            required>
      <option value="breakfast">Breakfast</option>
      <option value="lunch">Lunch</option>
      <option value="dinner">Dinner</option>
      <option value="mexican">Mexican</option>
      <option value="vegan">Vegan</option>
    </select>
<%= submit_tag "Submit" %>
<% end %>