div.header {
  background: linear-gradient(90deg, rgba(215,68,0,1) 0%, rgba(205,154,58,1) 50%, rgba(209,218,0,1) 100%);
  text-align: center;
  color: white;
  font-size: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.page_title {
  text-align: center;
  margin: 0;
}

.preferences_button {
  background-color: white;
  color: black;
  background: linear-gradient(90deg, rgba(195,62,0,1) 0%, rgba(255,198,171,1) 100%);
  font-size: 24px !important;
  padding: 10px 60px 10px 60px !important;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: auto;
}
