div.header {
  background: linear-gradient(90deg, rgba(215,68,0,1) 0%, rgba(205,154,58,1) 50%, rgba(209,218,0,1) 100%);
  text-align: center;
  color: white;
  font-size: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.page_title {
  text-align: center;
  margin: 0;
}

.preferences_button {
  background-color: white;
  color: black;
  background: linear-gradient(90deg, rgba(195,62,0,1) 0%, rgba(255,198,171,1) 100%);
  font-size: 24px !important;
  padding: 10px 60px 10px 60px !important;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: auto;
}

.button0 {
  width: 1440px;
  height: 116px;
  left: 0px;
  top: 0px;

  background: linear-gradient(90deg, #D85E48 0%, #EF956D 54.39%, #D8CA48 100%);
  border: 1px solid #C1C1C1;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  

  font-family: Flavors;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 123px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;

  mix-blend-mode: normal;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button {
  width: 205px;
  height: 140px;
  left: 236px;
  top: 316px;

  background: linear-gradient(90deg, #D85E48 10.24%, #EF956D 77.56%);
  border: 1px solid #BDBDBD;
  box-sizing: border-box;

  width: 188px;
  height: 42px;
  left: calc(50% - 188px/2 - 381px);
  top: calc(50% - 42px/2 - 126px);

  font-family: Abhaya Libre;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;
}

.dislike-button{
  background-color: #f44336;
}

.like-button{
  background-color: #4caf50;
}